@use '../../_assets/styles/variables'
    
.about-container
    display: flex
    justify-content: center
    align-items: center
    font-family: variables.$secondaryFont
    max-width: 1440px
    height: 100vh
    padding: 260px 10px 27px 10px
    margin: 0 auto

    .image
        position: fixed
        top: 77.8px
        opacity: 0.9
        background-image: url('../../_assets/images/foto-portfolio.jpg')
        background-size: cover
        background-position: center top
        background-repeat: no-repeat
        width: 1440px
        height: 100%

        img
            overflow: hidden