@use '../../_assets/styles/variables'
@import '../../_assets/styles/extends'

.about-container
    @extend %background-container
    gap: 13px

    .blur-overlay
        @extend %blur-background

    .image
        background-image: url('../../_assets/images/foto-portfolio.jpg')
        background-size: cover
        background-position: center top
        background-repeat: no-repeat
        border-radius: 5px
        width: 30%
        height: 75%
        filter: grayscale(0.25)

        img
            overflow: hidden    

@media (max-width: 1045px)
    .about-container
        .image
            width: 35%

@media (max-width: 845px)
    .about-container
        flex-direction: column
        padding-top: 85px

        .image
            width: 85%

@media (max-width: 450px)
    .about-container
        .image
            width: 70%
            height: 320px
