.project-container
    position: relative
    transition: ease-in-out 0.4s
    border-radius: 7px
    overflow: hidden
    width: 100%
    height: 100%

    .picture-container
        width: 100%
        border-radius: 10px

        .image-gif
            transition: ease-in-out 0.7s
            opacity: 0.9
            width: 100%

        .source-gif
            transition: ease-in-out 0.7s
            opacity: 0.9
            width: 100%

    .info
        position: absolute
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: 10px
        background-color: #000000d6
        text-align: center
        opacity: 0
        transition: opacity ease-in-out .6s
        width: 100%
        height: 100%
        top: 0
        left: 0
        
        .title
            font-size: 37px

        .description 
            text-align: center
            font-size: 22px
            width: 80%

        .button
            display: inline-block
            background-color: #ffffff
            color: #000000
            font-size: 18px
            text-align: center
            transition: ease-in-out 0.5s
            border-radius: 7px
            padding: 6px 0
            margin: 0 15px
            width: 120px

            &:hover
                transform: translateY(-3px)
    
    &:hover > .info
        opacity: 1
@media (max-width: 900px)
    .project-container
        .info 
            .title
                font-size: 28px
            .description
                font-size: 17px 
            .button
                font-size: 15px
                width: 90px

@media (max-width:675px)
    .project-container
        display: flex
        flex-direction: column
        gap: 25px

        .info 
            position: relative
            opacity: 1
            padding: 10px
            border-radius: 3px

            .div-button
                display: flex
                justify-content: center
                gap: 15px

                .button 
                    margin: 0