@use '../../_assets/styles/variables'

.mobile-menu-container
    position: fixed
    display: none
    align-items: center
    width: 100%
    height: 85px
    padding: 20px 35px
    top: 0
    z-index: 2

    .menu-icon
        background-color: #00000000
        width: 30px

    .menu-navigation
        position: absolute
        display: block
        background-color: #000000f1
        // animation: showNavBar .5s
        font-family: variables.$primaryFont
        height: 100vh
        width: 170px
        padding-top: 75px
        top: 0
        left: 0

        .close-button
            position: absolute
            background-color: #00000000
            width: 33px
            top: 24px
            left: 117px

        .list
            display: flex
            flex-direction: column
            align-items: flex-start

            li
                font-size: 20px
                margin: 2px 25px

                a
                    display: block

            .active a
                display: block
                color: variables.$contrastColor
                border-bottom: 2px solid
                height: 29px
                
    .logo
        position: absolute
        right: 35px
        width: 50px

@media (max-width: 645px)
    .mobile-menu-container
        display: flex
        

// @keyframes showNavBar
//     0% 
//         width: 0px
//         background-color: #000d
//     100%
//         width: 170px
//         background-color: #000d