@use '../../_assets/styles/variables'

.navigation
    position: fixed
    display: flex
    justify-content: center
    width: 100%
    max-width: 1440px
    padding: 20px 0 15px 0
    margin: 0 auto
    top: 0
    left: 50%
    z-index: 2
    transform: translateX(-50%)

    .list
        display: flex
        font-family: variables.$primaryFont
        border: 2px solid variables.$darkColor
        padding: 5px 10px
        border-radius: 20px

        li
            font-size: 23px
            margin: 0 25px

            a
                color: #110f0f
                transition: 0.3s ease-in-out

            a:hover
                color: variables.$contrastColor

        .active a
            display: block
            color: variables.$contrastColor
            border-bottom: 2px solid
            height: 29px
