@use '../../_assets/styles/variables'

.home-content-container
    display: flex
    justify-content: space-around
    align-items: center
    height: 89vh
    width: 100%

    .info-container
        display: flex
        justify-content: center
        align-items: center
        width: 40%

        .info-div
            display: flex
            flex-direction: column
            justify-content: center
            color: #000000

            p
                display: flex
                align-items: center
                text-shadow: 2px 2px 7px #000000
                color: #00fff4
                font-family: variables.$secondaryFont
                font-size: 20px
                font-weight: 500

            img
                width: 50px

            h1
                font-size: 61px
                color: #00fff4
                text-shadow: 2px 2px 7px #000000

            h3
                font-size: 29px
                color: #00fff4
                text-shadow: 2px 2px 7px #000000

    .image-container
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        width: 35%

        img
            border-radius: 15px

@media (max-width: 850px)
    .home-content-container
        justify-content: center
        gap: 30px

        .info-container
            width: 60%
            .info-div
                h1
                    font-size: 45px

@media (max-width: 645px)
    .home-content-container
        flex-direction: column

        .info-container
            width: 100%

        .image-container
            width: 55%

@media (max-width: 440px)
    .home-content-container
        .info-container
            .info-div
                p
                    font-size: 18px
                h1
                    font-size: 38px
                h3
                    font-size: 26px
