@use '../../_assets/styles/variables'

.home-content-container
    display: flex
    justify-content: center
    height: 98%
    width: 100%

    .info-container
        display: flex
        justify-content: center
        align-items: center
        width: 40%

        .info-div
            display: flex
            flex-direction: column
            justify-content: center

            p
                display: flex
                color: #000000
                align-items: center
                font-family: variables.$secondaryFont
                font-size: 18px
                font-weight: 500

            img
                width: 35px

            h1 
                font-size: 65px
                text-shadow: 4px 7px 7px #00000060
                color: #000000

            h3
                    font-size: 29px
                    text-shadow: 3px 6px 4px #00000030
                    color: #000000

    .image-container
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        width: 40%

        img
            border-radius: 15px