@import '../../_assets/styles/extends'

.contact-container
    @extend %background-container
    flex-direction: column

    .blur-overlay
        @extend %blur-background

    .title
        font-size: 35px
        text-align: center
        text-shadow: 5px 6px 30px #00000099

    .paragraph
        font-size: 23px
        text-align: center
        text-shadow: 5px 6px 30px #00000099

@media (max-width: 550px)
    .contact-container
        .title
            font-size: 28px
        .paragraph
            font-size: 20px