.slider
    display: flex
    justify-content: center
    align-items: center
    gap: 25px
    width: 100%

    .project
        width: 1000px
        height: 465px

    .return-button, .advanced-button
        background-color: #00000000
        cursor: pointer
        z-index: 1

        img
            width: 20px


@media (max-width: 1100px)
    .slider
        .project
            width: 750px
            height: 350px
        
@media (max-width: 900px)
    .slider
        .project
            width: 600px
            height: 280px

@media (max-width: 675px)
    .slider
        margin-top: 330px
        .project
            width: 340px
            height: auto

@media (max-width: 365px)
    .slider
        gap: 15px