.slider
    display: flex
    justify-content: center
    align-items: center
    gap: 25px
    width: 100%

    .project
        width: 1000px
        height: 465px

    .return-button, .advanced-button
        background-color: #00000000
        cursor: pointer
        z-index: 1

        img
            width: 20px
